<div class="row" >

  <div class="col-md-6  m-auto ">
    <h1 class="text-center font-weight-bold">Scheldules your Quiz</h1>
    <form  class=" offset-3">
      <div class="form-group">
        <mat-form-field appearance="fill" class="w-75">
          <mat-label>Enter Contest Code</mat-label>
          <input matInput class="w-100">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill" class="w-75">
          <mat-label>Author Name</mat-label>
          <input matInput class="w-100">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill" class="w-75">
          <mat-label>No of Questions</mat-label>
          <input matInput class="w-100">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill" class="w-75">
          <mat-label>Contest name </mat-label>
          <input matInput class="w-100">
        </mat-form-field>
      </div>
      <button class="w-75" mat-flat-button color="primary">Submit</button>
    </form>


  </div>
</div>
